    <!-- footer -->
<div class="footer">
    <div class="container">
        <div class="col-md-3 w3_footer_grid">
            <h3>Məlumatlar</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="/Default/Index/">Ana Səhifə</a></li>
                <li><a href="/About/Index/">Haqqımızda</a></li>
                <li><a href="/Service/Index/">Xidmətlər</a></li>
                <li><a href="/Contact/Index/">Bizimlə əlaqə</a></li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>Məhsullar sıra 1</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="/HouseHold/Index/">Ev əşyaları</a></li>
                <li><a href="/ClearProduct/Index/">Təmizlik məhsulları</a></li>
                <li><a href="/Product/Index/">Məhsullar</a></li>
                <li><a href="/Fruit/Index/">Meyvələr</a></li>
                <li><a href="/Vegatable/Index/">Tərəvəzlər</a></li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>Məhsullar sıra 2</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="/Beef/Index/">Mal ətləri</a></li>
                <li><a href="/Chicken/Index/">Toyuq ətləri</a></li>
                <li><a href="/Fish/Index/">Balıq ətləri</a></li>
                <li><a href="/SoftDrink/Index/">Qazlı içkilər</a></li>
                <li><a href="/JuiceDrink/Index/">Şirəli içkilər</a></li>
            </ul>
        </div>
        <div class="col-md-3 w3_footer_grid">
            <h3>Məhsullar sıra 3</h3>
            <ul class="w3_footer_grid_list">
                <li><a href="/FrozenSnack/Index/">Dondurulmuş qəlyanaltılar</a></li>
                <li><a href="/FrozenNonveg/Index/">Dondurulmuş tərəvəzlər</a></li>
                <li><a href="/Bread/Index/">Çörəklər</a></li>
                <li><a href="/Sweet/Index/">Şirniyyatlar</a></li>
                <li><a href="/PetFood/Index/">Pet qidaları</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <div class="agile_footer_grids">
            <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
                <div class="w3_footer_grid_bottom">
                    <h5>Sosial Əlaqə Hesablarımız</h5>
                    <ul class="agileits_social_icons">
                        <li><a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.twitter.com/" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.google.com/" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="wthree_footer_copy">
            <p>© @DateTime.Now.Year Web Store. Bütün hüquqlar qorunur | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
    </div>
</div>
<!-- //footer -->
