<div class="w3l_banner_nav_left">
    <nav class="navbar nav_bottom">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header nav_2">
            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul class="nav navbar-nav nav_1">
                <li><a href="/Household/Index/">Ev əşyaları</a></li>
                <li><a href="/ClearProduct/Index/">Təmizlik məhsulları</a></li>
                <li><a href="/Product/Index/">Məhsullar</a></li>
                <li class="dropdown mega-dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Meyvə & Tərəvəz<span class="caret"></span></a>
                    <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                        <div class="w3ls_vegetables">
                            <ul>
                                <li><a href="/Fruit/Index/">Meyvələr</a></li>
                                <li><a href="/Vegatable/Index/">Tərəvəzlər</a></li>
                                <li><a href="/Cereal/Index/">Dənlilər</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="dropdown mega-dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ətlər<span class="caret"></span></a>
                    <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                        <div class="w3ls_vegetables">
                            <ul>
                                <li><a href="/Beef/Index/">Mal əti</a></li>
                                <li><a href="/Chicken/Index/">Toyuq əti</a></li>
                                <li><a href="/Fish/Index/">Balıq əti</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">İçkilər<span class="caret"></span></a>
                    <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                        <div class="w3ls_vegetables">
                            <ul>
                                <li><a href="/SoftDrink/Index/">Qazlı içkilər</a></li>
                                <li><a href="/JuiceDrink/Index/">Şirəli içkilər</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Donmuş qidalar<span class="caret"></span></a>
                    <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                        <div class="w3ls_vegetables">
                            <ul>
                                <li><a href="/FrozenSnack/Index/">Donmuş qəlyanaltılar</a></li>
                                <li><a href="/FrozenNonveg/Index/">Donmuş tərəvəzlər</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Un məmulatları<span class="caret"></span></a>
                    <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                        <div class="w3ls_vegetables">
                            <ul>
                                <li><a href="/Bread/Index/">Çörəklər</a></li>
                                <li><a href="/Sweet/Index/">Şirniyyatlar</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="/PetFood/Index/">Pet Qidalar</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>
