@{
    ViewData["Title"] = "ShowMessage";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="privacy about">
    <h3>Mesajınız Uğurla Göndərildi</h3>
    <br />
    <h4 style="margin-left:430px">
        Dəyərli fikirlərinizi bizimlə bölüşdüyünüz üçün təşəkkür
        edirik.
    </h4>
    <br />
    <a href="/Default/Index/" class="btn btn-success" style="margin-left:430px">Anasəhifəyə get</a>
</div>

