@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<div class="w3l_banner_nav_right">
    <div class="w3l_banner_nav_right_banner6">
    </div>
    <br />
    @await Component.InvokeAsync("ChickenList")
</div>
