@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>AdminPanel</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/StoreAdmin/assets/img/favicon/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/StoreAdmin/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/StoreAdmin/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/StoreAdmin/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/StoreAdmin/assets/css/demo.css" />
    <link rel="stylesheet" href="~/StoreAdmin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/StoreAdmin/assets/vendor/libs/apex-charts/apex-charts.css" />
    <script src="~/StoreAdmin/assets/vendor/js/helpers.js"></script>
    <script src="~/StoreAdmin/assets/js/config.js"></script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            @await Html.PartialAsync("/Areas/AdminPanel/Views/LayoutPartial/_SideBarPartial.cshtml")
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                @*@await Html.PartialAsync("/Areas/AdminPanel/Views/LayoutPartial/_NavBarPartial.cshtml")
*@
                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    @RenderBody();
                    <!-- / Content -->
                    <!-- Footer -->
                    @await Html.PartialAsync("/Areas/AdminPanel/Views/LayoutPartial/_FooterPartial.cshtml")

                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <!-- Core JS -->
    <script src="~/StoreAdmin/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/StoreAdmin/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/StoreAdmin/assets/vendor/js/bootstrap.js"></script>
    <script src="~/StoreAdmin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/StoreAdmin/assets/vendor/js/menu.js"></script>
    <script src="~/StoreAdmin/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="~/StoreAdmin/assets/js/main.js"></script>
    <script src="~/StoreAdmin/assets/js/dashboards-analytics.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
